Checks: 'bugprone*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer*,
  cert*,
  concurrency-*,
  cppcoreguidelines*,
  -cppcoreguidelines-pro-type-vararg,
  hicpp*,
  -hicpp-vararg,
  misc*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  modernize*,
  -modernize-pass-by-value,
  performance*,
  portability*,
  readability*,
  -readability-function-cognitive-complexity'
CheckOptions:
  - key: 'cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor'
    value: '1'
  - key: 'hicpp-special-member-functions.AllowSoleDefaultDtor'
    value: '1'
